<!-- app/views/tasks/index.html.erb -->
<div id="tasks">
  <% if @tasks.any? %>
    <% @tasks.each do |task| %>
      <h4><%= task.title %></h4>
      <p><%= task.description %></p>
      <p><%= task.due_date %></p>
      <% if task.status %>
        <p>Done</p>
      <% else %>
        <p>Not done</p>
      <% end %>
    <% end %>
  <% else %>
    <em>Sorry, no tasks found.</em>
  <% end %>
</div>
